* {
    box-sizing: border-box;
}

:root {
    --font-white: white;
    --font-grey: grey;
    --font-aquamarine: aquamarine;
    --bg-black: black;
    --font-family-verdana: Verdana;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-black);
    text-align: center;
}

/* ELEMENTS */

.title {
    font-family: var(--font-family-verdana);
    font-weight: normal;
    font-size: 5rem;
    color: var(--font-white);
    text-align: center;
}

.link {
    color: var(--font-aquamarine);
    font-size: 1.6rem;
    font-family: var(--font-family-verdana);
}

.title-2 {
    font-family: var(--font-family-verdana);
    font-weight: 300;
    font-size: 4.2rem;
    color: var(--font-white);
}

.text {
    font-family: var(--font-family-verdana);
    font-size: 2.1rem;
    color: var(--font-grey);
}

.excursion-video {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}

/* FOOTER */

.text-footer {
    color: var(--font-grey);
    text-align: right;
    font-size: 2rem;
    font-family: var(--font-family-verdana);
}